.Item {
	margin:0.5rem;
	border-radius: 5px;
  	box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
	position:relative;
	z-index:0;
}

.more_btn{
	float:right;
	position:relative;
	z-index:2;
	margin-right:8px;
}

#cardImg{
	height:300px;
	object-fit:cover;
}